{% js at endBody %}
    {% include 'templates/js.js' %}
{% endjs %}

<div class="wrapper wrapper--light">

    <div class="row calc-result-wrapper">

    {% set data = craft.mortgageCalculator.calculator('stampDuty') %}

    <script type="text/javascript">

        //here we traverse the data from twig to jquery, note that jquery magically parses json, making
        //parseJSON redundant on the other end, had me perplexed for a while

        var data = {{ data['stampDuty']['stampDutySettings']|json_encode|raw }};

        window.onload = function() {

            if (window.jQuery) {
                $(document).ready(function () {
                    traverseRates(data);

                    //--custom select
                    $("#calc-toggle-no").on("click", function () {

                        if (!$(this).hasClass("calc-toggle--selected")) {
                            $(this).addClass("calc-toggle--selected");
                            $("#calc-toggle-yes").removeClass("calc-toggle--selected");
                            $("#sd-calc-2nd").val('first');
                        }

                        $("#sd-calc-ftb").show();
                    });

                    $("#calc-toggle-yes").on("click", function () {

                        if (!$(this).hasClass("calc-toggle--selected")) {
                            $(this).addClass("calc-toggle--selected");
                            $("#calc-toggle-no").removeClass("calc-toggle--selected");
                            $("#sd-calc-2nd").val('second');
                        }

                        let ftb = $("#sd-calc-ftb");
                        ftb.hide();
                        $("#calc-toggle-ftb-no").click();
                    });

                    $("#calc-toggle-ftb-no").on("click", function () {
                        if (!$(this).hasClass("calc-toggle--selected")) {
                            $(this).addClass("calc-toggle--selected");
                            $("#calc-toggle-ftb-yes").removeClass("calc-toggle--selected");
                            $("#firstTimeBuyer").val('no');
                        }
                    });

                    $("#calc-toggle-ftb-yes").on("click", function () {
                        if (!$(this).hasClass("calc-toggle--selected")) {
                            $(this).addClass("calc-toggle--selected");
                            $("#calc-toggle-ftb-no").removeClass("calc-toggle--selected");
                            $("#firstTimeBuyer").val('yes');
                        }
                    });
                });
            }
        }
    </script>

    {% for item in data %}

        <div class="columns medium-6">

            <div class="round-container round-container--with-arrow">

                <form id="stampDutyData" class="calc-form">

                    <label for="sd-calc-price">What is the purchase price?</label>
                    <input name="price" type="text" placeholder="E.g. £625,000" onkeyup="prettifyMoney(this)" id="sd-calc-price">


                    <label for="sd-calc-property">Property Location</label>

                    <div class="info-icon__wrapper">

                        <select name="location" id="sd-calc-property">
                            <option value="ENG" selected>England & NI</option>
                            <option value="SCO">Scotland</option>
                            <option value="WALES">Wales</option>
                        </select>

                        <button type="button" data-tooltip aria-haspopup="true" class="info-icon has-tip left show-for-small-only" data-disable-hover="false" tabindex="2"
                                title="Stamp duty rates vary in Scotland and Wales in comparison with England and NI.">
                        </button>

                        <button type="button" data-tooltip aria-haspopup="true" class="info-icon has-tip bottom show-for-medium" data-disable-hover="false" tabindex="2"
                                title="Stamp duty rates vary in Scotland and Wales in comparison with England and NI.">
                        </button>

                    </div>

                    <div>
                        <label for="sd-calc-2nd">Is this a second property?</label>

                        <div class="info-icon__wrapper">

                            <div class="calc-toggler-wrapper">
                                <div class="calc-toggler">
                                    <button type="button" class="calc-toggle calc-toggle" id="calc-toggle-yes">Yes</button>
                                    <button type="button" class="calc-toggle calc-toggle--selected" id="calc-toggle-no">No</button>
                                </div>
                            </div>

                            <button type="button" data-tooltip aria-haspopup="true" class="info-icon has-tip left show-for-small-only" data-disable-hover="false" tabindex="2"
                                    title="If you are purchasing an additional property, stamp duty rates will be higher.">
                            </button>

                            <button type="button" data-tooltip aria-haspopup="true" class="info-icon has-tip bottom show-for-medium" data-disable-hover="false" tabindex="2"
                                    title="If you are purchasing an additional property, stamp duty rates will be higher.">
                            </button>

                        </div>

                        <!-- the select is here for basic functionality & fallback -->
                        <select name="property" id="sd-calc-2nd" class="hide">
                            <option value="first" selected>First</option>
                            <option value="second">Second</option>
                        </select>
                    </div>

                    <div id="sd-calc-ftb">
                        <label for="firstTimeBuyer">First time buyer?</label>
                        <div class="info-icon__wrapper">
                            <div class="calc-toggler-wrapper">
                                <div class="calc-toggler">
                                    <button type="button" class="calc-toggle calc-toggle" id="calc-toggle-ftb-yes">Yes</button>
                                    <button type="button" class="calc-toggle calc-toggle--selected" id="calc-toggle-ftb-no">No</button>
                                </div>
                            </div>
                            
                            <div id="ftbDiscountToolTip" class="hide">
                                <button type="button" data-tooltip aria-haspopup="true" class="info-icon has-tip left show-for-small-only" data-disable-hover="false" tabindex="2"
                                        title="Discounted stamp duty in England and NI is only available for first time buyers purchasing a home below the value of £625,000">
                                </button>

                                <button type="button" data-tooltip aria-haspopup="true" class="info-icon has-tip bottom show-for-medium" data-disable-hover="false" tabindex="2"
                                        title="Discounted stamp duty in England and NI is only available for first time buyers purchasing a home below the value of £625,000">
                                </button>
                            </div>
                        </div>

                        <!-- the select is here for basic functionality & fallback -->
                        <select name="first" id="firstTimeBuyer" class="hide">
                            <option value="yes">Yes</option>
                            <option value="no" selected>No</option>
                        </select>
                    </div>

                    <input class="button button--solid-blue fullwidth-on-small" type="submit" name="submit" value="Calculate Stamp Duty">

                </form>
                <div class="round-container__arrow"></div>
            </div>

        </div>

        <div class="columns medium-6 calc-result calc-result--hide" id="calc-result">

            <div class="row ">
                <div class="columns">
                    <p class="calc-result__content">Your total stamp duty due will be:</p>
                    <span id="stampDutyPayable" class="calc-result__heading"></span>
                </div>

            </div>


            <div class="calc-result__content-wrapper">

                <div class="round-container">

                    <div class="row calc-result__bracket-titles">
                        <p class="columns small-8 medium-9 calc-result__bracket-title">Stamp Duty Price Bands</p>
                        <p class="columns small-4 medium-3 calc-result__bracket-title calc-result__bracket-right">Cost</p>
                    </div>

                    <div class="calc-result__brackets" id="stampDutyBrackets"></div>

                    <p class="calc-result__total">Total Cost: <span class="calc-result__total-num" id="totalCost">£0,000</span></p>
                </div>

                <p class="calc-result__cta-wrapper show-for-small-only">
                    Call us FREE today <a href="tel:{{ chrome.phoneNumInt }}" class="no-wrap">{{ chrome.phoneNum }}</a>
                </p>

                <p class="calc-result__cta show-for-medium">Call us FREE today {{ chrome.phoneNum }}</p>

                <a href="/contact" class="button button--solid-blue fullwidth-on-small">Talk To Us Today</a>

            </div>
        </div>

        <div class="columns medium-6 show-for-medium" id="calc-result-filler">
            <div class="calc-result-filler">
                <div class="calc-result-filler__content">
                    <p class="calc-result-filler__cta">Fill in the form to calculate your <br>stamp duty</p>
                    <p class="calc-result-filler__or">Or</p>
                    <p class="calc-result__cta show-for-medium">Call us FREE today {{ chrome.phoneNum }}</p>
                    <a href="/contact" class="button button--solid-blue fullwidth-on-small">Talk To Us Today</a>
                </div>
            </div>
        </div>

    {% endfor %}

    </div>
</div>
